body {
    padding: 0;
    margin: 0;
}

.container {
    background-color: red;
    padding: 10px;
    border: 5px solid blue;
    margin: 10px;
}

.content {
    background-color: #ddd;
    /* border: 5px solid green; */
    outline: 5px solid green;
    /* Outline não interage com o Box Model, fora a parte, não afasta os outros elementos */
    /* margin: 5px; */
    padding: 5px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 10px solid blue;
    padding: 10px;
    box-sizing: border-box;
}

.square2 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    /* border: 10px solid blue; */
    box-sizing: border-box;
}